# Google Address Validation API
# Get your API key from: https://console.cloud.google.com/
# Make sure to enable the Address Validation API in your Google Cloud project
VITE_GOOGLE_API_KEY=MY_GOOGLE_API_KEY_HERE
